<!-- shared markup -->
<style>
  .feature-image { object-fit: cover; width: 100%;  max-height: 100%; }
  .cover-image { object-fit: cover; width: 100%;  height: 100%; }

  .thumb-image { object-fit: cover; width: 100%; max-height: 100%;}
  .thumb-image--fill { object-fit: cover; width: 100%; height: 100%;}
  .image-overlay:after {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 50%); 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .overflow-hidden { overflow: hidden; }
  .absolute { position: absolute; }
  .relative { position: relative; }

  .screen--no-bleed { padding: 0 !important; }

  .image-border { border: 1px solid black;}
</style>

{% template media_item_large %}
  {% if image != '' %}
    <div class="media-item--large {{ cssClasses }}">
      <div class="relative">
        <div class="h--36 mb--2">
          <img class="feature-image image-dither" src="{{ image }}">
        </div>
        <span class="title title--small mb--2 clamp--3 absolute text-stroke text-stroke--large"
          style="bottom: 0; left: 8px; right: 4px; display: inline;"
          data-pixel-perfect="true">
          {{ title }}
        </span>
      </div>
  {% else %}
      <span class="title title--small mb--2 clamp--4"
        data-pixel-perfect="true">
        {{ title }}
      </span>
  {% endif %}

      <span class="text--left description clamp--12">
        {% if description %}
          {{ description | strip_html | strip_newlines }}
        {% else %}
          {{ content | strip_html | strip_newlines }}
        {% endif %}
      </span>
    </div>
{% endtemplate %}

{% template media_item_cover %}
  {% if image && image != '' %}
    {% assign image_available = true %}
  {% else %}
    {% assign image_available = false %}
  {% endif %}

  <div class="media-item--cover w--full overflow-hidden {{ cssClasses }}">
    <div class="relative">
      {% if show_thumb && image_available %}
        <div class="h--48 image-overlay">
          <img class="cover-image image-dither" src="{{ image }}">
        </div>
      {% else %}
        <div class="h--48 w--full image-border"></div>
      {% endif %}
      <div class="absolute"
        style="bottom: 4px; left: 8px; right: 4px;">
        <span 
        style="line-height: 1.4; display: inline-block; width: 100%;"
        class="title title--small mb--2
          {% if show_description %}
            clamp--3
          {% else %}
            clamp--7
          {% endif %}
          {% if show_thumb && image_available %}
            text--white text-stroke text-stroke text-stroke--black
          {% endif %}"
          data-pixel-perfect="true"
          >
          {{ title }}
        </span>
        {% if show_description %}
          <span class="text--left description clamp--3
            {% if show_thumb && image_available %}
              text--white text-stroke text-stroke--black
          data-pixel-perfect="true"
            {% endif %}">
            {% if description %}
              {{ description | strip_html | strip_newlines }}
            {% else %}
              {{ content | strip_html | strip_newlines }}
            {% endif %}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
{% endtemplate %}

{% template media_item %}
  {% if image && image != '' %}
    {% assign image_available = true %}
  {% else %}
    {% assign image_available = false %}
  {% endif %}
  <div class="item {{ cssClasses }}">
    {% if show_thumb == false %}
    <div class="meta">
      <span class="index">{{index}}</span>
    </div>
    {% endif  %}
    <div class="flex flex--row flex--top">
      {% if show_thumb == true && image_available == true %}
        <div class="h--12">
          {% if image_available %}
            <img class="w--20 h--auto thumb-image image-dither" src="{{ image }}">
          {% else %}
            <img class="image w--20 h--8" src="https://usetrmnl.com/images/plugins/rss.svg">
          {% endif %}
        </div>
      {% endif %}
      <div class="content w--auto">
        {% if show_description == true %}
          <div class="title title--small clamp--1">{{ title }}</div>
        {% else %}
          <div class="title title--small clamp--3">{{ title }}</div>
        {% endif %}

        {% if show_description == true %}
          <div class="description clamp--3" data-content-limiter="true">
            {% if description %}
              {{ description | strip_html }}
            {% else if body %}
              {{ body | strip_html }}
            {% else %}
              no content given
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endtemplate %}

{% template error_msg %}
  <div class="layout layout--col">
    <span class="title">
      {{ message }}
    </span>
    <span class="description">
      {{ url }}
    </span>
  </div>
{% endtemplate %}

{% template title_bar %}
  <div class="title_bar">
    {% if image && image != '' %}
      <img class="image" src="{{ image }}">
    {% else %}
      <img class="image" src="https://usetrmnl.com/images/plugins/rss.svg">
    {% endif %}
    <span class="title">{{ title }}</span>
    {% if title %}
      <span class="instance">{{ description | truncate: 40 }}</span>
    {% else %}
      <span class="instance">{{ description }}</span>
    {% endif %}
  </div>
{% endtemplate %}

{% template layout_grid_list %}
  <div class="layout screen--no-bleed">
    <div class="grid">
      <div class="col col--start col--span-2">
        {% for item in items limit:1 %}
          {% render "media_item_cover" 
            title: item.title, 
            cssClasses: "mb--4",
            image: item.preview_url
            description: item.description,
            show_thumb: show_images,
            show_description: show_description,
            body: item.content
          %}
        {% endfor %}
        {% for item in items offset:1 limit:1 %}
          {% render "media_item_cover" 
            title: item.title, 
            image: item.preview_url
            description: item.description,
            show_thumb: show_images,
            show_description: show_description,
            body: item.content
          %}
        {% endfor %}
      </div>
      <div class="col col--start col--span-2">
        <div class="pl--2">
          <div class="list" data-list-limit="true" data-list-max-height="370" data-list-hidden-count="true" data-list-max-columns="1">
            {% for item in items limit:5 offset:2 %}
              {% render "media_item", 
                title: item.title, 
                image: item.preview_url
                description: item.description,
                body: item.content,
                index: forloop.index, 
                show_thumb: show_images,
                show_description: show_description
              %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endtemplate %}

<!-- shared markup -->
{% template say_hello %}
  Hello there, {{ name }}.
{% endtemplate %}
