<!-- shared markup -->
<style>
  .feature-image { object-fit: cover; width: 100%;  max-height: 100%; }
  .cover-image { object-fit: cover; width: 100%;  height: 100%; }

  .thumb-image { object-fit: cover; width: 100%; max-height: 100%;}
  .thumb-image--fill { object-fit: cover; width: 100%; height: 100%;}
  .image-overlay:after {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 50%); 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .overflow-hidden { overflow: hidden; }
  .absolute { position: absolute; }
  .relative { position: relative; }

  .screen--no-bleed { padding: 0 !important; }

  .image-border { border: 1px solid black;}

  .hyphens-auto {
    hyphens: auto;
    word-break: unset !important;
  }

  .title--xsmall {
    font-family: NicoClean !important;
    font-size: 14px !important;
  }
</style>

{% template media_item_large %}
  {% if image != '' %}
    <div class="media-item--large {{ cssClasses }}">
      <div class="relative">
        <div class="h--36 mb--2">
          <img class="feature-image image-dither" src="{{ image }}">
        </div>
        <span class="title title--small mb--2 clamp--3 absolute text-stroke text-stroke--large"
          style="bottom: 0; left: 8px; right: 4px; display: inline;"
          {% if pixel_perfect_title %}data-pixel-perfect="true"{% endif %}>
          {{ title }}
        </span>
      </div>
  {% else %}
      <span class="title title--small mb--2 clamp--4"
        {% if pixel_perfect_title %}data-pixel-perfect="true"{% endif %}>
        {{ title }}
      </span>
  {% endif %}

      <span class="text--left description clamp--12">
        {% if description %}
          {{ description | strip_html | strip_newlines }}
        {% else %}
          {{ content | strip_html | strip_newlines }}
        {% endif %}
      </span>
    </div>
{% endtemplate %}

{% template media_item_cover %}
  {% assign image_available = image and image != '' %}
  <div class="media-item--cover w--full overflow-hidden {{ cssClasses }}">
    <div class="relative">
      {% if (show_thumb == true or show_thumb == 'true') and image_available %}
        <div class="h--48 image-overlay">
          <img class="cover-image image-dither" src="{{ image }}">
        </div>
      {% else %}
        <div class="h--48 w--full image-border"></div>
      {% endif %}
      <div class="absolute"
        style="bottom: 4px; left: 8px; right: 4px;">        <span 
        style="line-height: 1.4; display: inline-block; width: 100%;"
        class="title title--small mb--2
          {% if show_description == true or show_description == 'true' %}
            clamp--3
          {% else %}
            clamp--7
          {% endif %}
          {% if (show_thumb == true or show_thumb == 'true') and image_available %}
            text--white text-stroke text-stroke text-stroke--black
          {% endif %}
          {% if pixel_perfect_title %}data-pixel-perfect="true"{% endif %}
          >
          {{ title }} 
        </span>
        {% if show_description == true or show_description == 'true' %}
          <span class="text--left description clamp--3
            {% if (show_thumb == true or show_thumb == 'true') and image_available %}
              text--white text-stroke text-stroke--black
            {% endif %}"
            {% if pixel_perfect_description %}data-pixel-perfect="true"{% endif %}>
            {% if description %}
              {{ description | strip_html | strip_newlines }}
            {% else %}
              {{ content | strip_html | strip_newlines }}
            {% endif %}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
{% endtemplate %}

{% template media_item %}
  {% assign image_available = image and image != '' %}
  {% if thumb_height %}
    {% assign thumb_height = 'h--' | append: thumb_height %}
  {% else %}
    {% assign thumb_height = 'h--12' %}
  {% endif %}

  <div class="item {{ cssClasses }}">
    {% if show_thumb == false or show_thumb == 'false' %}
    <div class="meta">
      <span class="index">{{index}}</span>
    </div>
    {% endif  %}
    <div class="flex flex--row flex--top">
      {% if (show_thumb == true or show_thumb == 'true') and image_available %}
        <div class="{{ thumb_height }}">
          {% if image_available %}
            <img class="w--20 h--auto thumb-image--fill image-dither" src="{{ image }}">
          {% else %}
            <img class="image w--20 h--8" src="https://usetrmnl.com/images/plugins/rss.svg">
          {% endif %}
        </div>
      {% endif %}      <div class="content w--auto">
        {% if show_description == true or show_description == 'true' %}
          <div class="title title--small clamp--1" {% if pixel_perfect_title %}data-pixel-perfect="true"{% endif %}>{{ title }}</div>
        {% else %}
          <div class="title title--small clamp--3" {% if pixel_perfect_title %}data-pixel-perfect="true"{% endif %}>{{ title }}</div>
        {% endif %}

        {% if show_description == true or show_description == 'true' %}
        <div class="description hyphens-auto clamp--3" data-content-limiter="true" {% if pixel_perfect_description %}data-pixel-perfect="true"{% endif %}>
          {% if description %}
            {{ description | strip_html }}
          {% else if body %}
            {{ body | strip_html }}
          {% else %}
            no content given
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endtemplate %}

{% template error_msg %}
  <div class="layout layout--col">
    <span class="title">
      {{ message }}
    </span>
    <span class="description">
      {{ url }}
    </span>
  </div>
{% endtemplate %}

{% template title_bar %}
  <div class="title_bar">
    {% if image && image != '' %}
      <img class="image" src="{{ image }}">
    {% else %}
      <img class="image" src="https://usetrmnl.com/images/plugins/rss.svg">
    {% endif %}
    <span class="title">{{ title }}</span>
    {% if title %}
      <span class="instance">{{ description | truncate: 40 }}</span>
    {% else %}
      <span class="instance">{{ description }}</span>
    {% endif %}
  </div>
{% endtemplate %}

<!-- shared markup -->
{% template say_hello %}
  Hello there, {{ name }}.
{% endtemplate %}
